@media (min-width: 700px) {
  .custom-notify-banner {
    flex-direction: row;
    align-items: center;
    gap: 1.8em;
    padding: 1em 2.2em 1em 1.5em;
    font-size: 1.09em;
    min-height: 64px;
    width: 96vw;
    max-width: 700px;
  }
  .notify-banner-btn {
    width: auto;
    min-width: 200px;
    margin-top: 0;
  }
  .notify-banner-title {
    font-size: 1.15em;
  }
}

@media (max-width: 400px) {
  .custom-notify-banner {
    padding: 0.7em 0.2em 0.6em 0.4em;
    font-size: 0.98em;
  }
}
